
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
--mcms-primary: #0f766e; /* teal-700 */
--mcms-accent: #06b6d4; /* cyan-500 */
--mcms-bg: #f8fafc; /* gray-50 */
}


body{ background-color: var(--mcms-bg); }